/**
 * Styles for WCM20 Weather Plugin
 */

.current-weather {
	text-align: center;
}

.current-weather-temperature {
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.current-weather .label {
	font-weight: 600;
}
